<div class="container">
    <section>
        <h2>Order administration</h2>
        <table class="table table-striped table-bordered table-hover">
            <th>ID</th>
            <th>Create time</th>
            <th>Address</th>
            <th>Delivery Time</th>
            <th>Finished</th>
            <th>User</th>
            <th>Item Id</th>
            <th>Amount</th>
            <th>Edit</th>
            <th>Delete</th>


            <tr ng-repeat="order in c.orders">
                <td>{{order.id}}</td>

                <td>{{order.orderTS}}</td>

                <td>{{order.address}}</td>

                <td>{{order.deliveryTime}}</td>

                <td>{{order.finished}}</td>

                <td>{{order.user_username}}</td>

                <td>{{order.item_id}}</td>

                <td>{{order.itemAmount}}</td>

                <td ng-hide="c.editId==order.id">
                    <button type="button" class="btn btn-indigo btn-sm m-0" ng-click="c.setEdit(order.id)">Finish</button>
                </td>

                <td ng-hide="c.editId!=order.id">
                    <button type="button" class="btn btn-indigo btn-sm m-0" ng-click="c.confirmEdit(order.id)">Confirm</button>
                </td>

                <td ng-hide="c.deleteId==order.id">
                    <button type="button" class="btn btn-indigo btn-sm m-0" ng-click="c.setDelete(order.id)">Delete</button>
                </td>

                <td ng-hide="c.deleteId!=order.id">
                    <button type="button" class="btn btn-indigo btn-sm m-0" ng-click="c.confirmDelete(order.id)">Confirm</button>
                </td>
            </tr>
        </table>

    </section>
</div>